html, body, ul, h1, h2, h3, h4, h5 {margin:0px;padding:0px;}
html, body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}
h3 		{font-size: 15px; color: #87a655;}
h4 		{font-size: 14px; }
h6 		{font-size: 11px; }
li 		{list-style: none;}
a		{text-decoration: none;color: #a1c667;}
.left 	{float: left;}
.right	{float: right;}
.clean 	{clear: both;}
.inline {display:inline;}

#main_content, 
header .content_table {width:70%;max-width: 600px;min-width: 300px;padding:0 25px;margin:0 auto;}


header 					{position: relative;height: 80px;background-color: #95b85e;color:#fff;}
header .content_table	{display:table;background-color: #87a655;height: 100%;position: relative;}
header ul 				{position: relative; height:100%;display:table-row;}
header li 				{height: 80px;display:table-cell;vertical-align:middle;}

header #main_title		{font-size: 15px;font-weight: 600;}
header ul li:first-child{text-align:left;width:70%;}
header ul li:last-child {text-align:right;}
ul.profile_list			{position: relative;display:block;}
ul.profile_list li:first-child{width:40%;}
ul.profile_list li		{text-align:right;}
ul.profile_list li span	{position:absolute;right:0px;}
#avatar 				{width:100%;border-radius:5px;max-width:50px;}


#main 			{position: relative;background-color: #f3f3ed;height: 100%;}
#main_content	{
	position: relative;
	margin:0 auto;
	padding:0 25px;
	height: 100%;
	background-color: #fcfcfc;
}

ul li.repo {position: relative;clear:both;}
ul li.repo .repo_content {
	border-bottom: 1px solid rgba(189, 194, 84, 0.5);
    clear: both;
    display: block;
    height: 20px;
    padding: 10px 0px;
    margin: 0px;
    position: relative;
} 
ul li.repo .repo_name {font-weight: 800;color: #5b5b46;text-transform:capitalize;}
ul li.repo .repo_content .moreinfo {color: #dbdbd4;}

ul.moreinfo li	{float: left;margin:0px 10px;}
span.mini-icon	{position: relative; margin:0px 5px;}

#repo {position: relative;margin:20px 0px;	color: #ced0c7;}
.separator {position: relative;padding:20px;border-bottom: 1px solid #f3f3ed;}
h3,h6 {display: inline;}
d.description {}

#skills {
	position: relative;
	background-color: #f3f3ed;
	padding:20px;
	height: 120px;
}
#skills_wrapper {display:table;width:100%;height:100%;}
#skills h4 		{color: #aaafa2;text-align: center;}
#skills ul 		{display:table-row;text-align:center;}
#skills ul li 	{margin:0px auto;display:table-cell;text-align:center;}
#skills ul li .number {font-size: 20px;font-weight: 100;text-align: center;}

.path_back	{fill: #afd574;}
.path_front {fill: #87A655;}
.txt_cercle	{font-size: 15px;font-weight: 100;stroke:#87A655;}